html { 
  background: url(https://user-images.githubusercontent.com/22644447/28489392-dc56e94e-6e88-11e7-98b0-a359642c08e6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
		background-color: rgba(0,0,0,0.7);
		color: white;
		padding: 40px;
		height: 2705px;
		width: 1000px;
		margin: 70px auto;
}

.profile_pic {
	height: 300px;
	border-radius: 50%;
	
